services:
  - type: pserv
    name: meu-banco-sgo
    plan: free
    startCommand: "echo 'PostgreSQL service started'"

  - type: web
    name: backend
    plan: free
    rootDir: backend
    buildCommand: "pip install -r requirements.txt; python manage.py collectstatic --no-input; python manage.py migrate"
    startCommand: "gunicorn sgo_core.wsgi"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromService:
          type: pserv
          name: meu-banco-sgo
          property: connectionString
      - key: ALLOWED_HOSTS
        value: ".onrender.com"

  - type: web
    name: frontend
    plan: free
    rootDir: frontend
    buildCommand: "npm install && npm run build"
    startCommand: "npm run preview"
    envVars:
      - key: VITE_API_URL
        fromService:
          type: web
          name: backend
          property: host