services:
  - type: web
    name: django-backend
    env: python
    healthCheckPath: /api/health-check/
    buildCommand: "cd backend && pip install -r requirements.txt && python manage.py migrate && python manage.py load_data"
    startCommand: "cd backend && gunicorn sgo_core.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.4
      - key: DATABASE_URL
        fromDatabase:
          name: sgo-postgres
          property: connectionString
      - key: DJANGO_SETTINGS_MODULE
        value: sgo_core.settings
      - key: FRONTEND_URL
        value: https://react-frontend-g55g.onrender.com
      - key: WEB_CONCURRENCY
        value: 4
      - key: ALLOWED_HOSTS
        value: "localhost,127.0.0.1,django-backend-e7od.onrender.com"
      # Chaves secretas serão gerenciadas via 'sync: false'
      - key: SECRET_KEY
        sync: false
      - key: DJANGO_SUPERUSER_PASSWORD
        sync: false
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: USE_S3
        value: TRUE
      - key: AWS_STORAGE_BUCKET_NAME
        sync: false
      - key: AWS_S3_REGION_NAME
        sync: false
    buildFilter:
      paths:
        - backend/**
  - type: web
    name: react-frontend
    env: static
    buildCommand: "cd frontend && npm install && npm run build"
    staticPublishPath: ./frontend/dist
    routes:
      - type: rewrite
        source: /api/*
        # O destino deve ser a URL do serviço backend, sem crases
        destination: https://django-backend-e7od.onrender.com/api/*
      - type: rewrite
        source: /*
        destination: /index.html
    envVars:
      - key: VITE_API_BASE_URL
        # O valor deve ser a URL base do backend, sem crases
        value: https://django-backend-e7od.onrender.com
    buildFilter:
      paths:
        - frontend/**
databases:
  - name: sgo-postgres
    plan: free
    databaseName: sgo_db
    user: sgo_user
    postgresMajorVersion: 13