services: 
  # 1. Serviço Web do Backend (Django) - Não mexer, está correto 
  - type: web 
    name: backend 
    runtime: python 
    plan: free 
    rootDir: backend 
    buildCommand: "pip install -r requirements.txt; python manage.py collectstatic --no-input; python manage.py migrate" 
    startCommand: "gunicorn sgo_core.wsgi" 
    envVars: 
      - key: PYTHON_VERSION 
        value: 3.11.5 
      - key: SECRET_KEY 
        generateValue: true 
      - key: DATABASE_URL 
        fromDatabase: 
          name: meu-banco-sgo 
          property: connectionString 
      - key: ALLOWED_HOSTS 
        value: ".onrender.com" 

  # 2. Serviço Web do Frontend (React) - CORRIGIDO para o plano gratuito 
  - type: web # Alterado de 'static' para 'web' para cumprir os requisitos do plano gratuito 
    name: frontend 
    runtime: node 
    plan: free 
    rootDir: frontend 
    buildCommand: "npm install && npm run build" 
    startCommand: "npm run preview -- --host 0.0.0.0" 
    envVars: 
      - key: VITE_API_URL 
        fromService: 
          type: web 
          name: backend 
          property: url 

# 3. Banco de Dados - Não mexer, está correto 
databases: 
  - name: meu-banco-sgo 
    plan: free