Django==5.2.3
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==3.14.0
Pillow==10.4.0
python-decouple==3.8
whitenoise==6.8.2
python-dateutil==2.9.0
requests==2.32.3
gunicorn==23.0.0
dj-database-url==2.3.0
psycopg2-binary==2.9.10
# Dependências transitivas necessárias
six==1.16.0
asgiref==3.8.1
sqlparse==0.5.1
botocore==1.35.84
jmespath==1.0.1
s3transfer==0.10.4
packaging==24.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
urllib3==2.2.3
pyjwt==2.10.1
typing-extensions==4.12.2
# Dependências pesadas removidas para otimizar memória:
WeasyPrint
PyMuPDF
# django-extensions - não essencial para produção
python-docx
openpyxl
# Sub-dependências para PDF/Office
et-xmlfile
lxml
cffi
cssselect2
fonttools
pydyf
pyphen
tinycss2
tinyhtml5
pycparser
webencodings
brotli
zopfli
django-storages==1.14.4
boto3==1.35.84
