Django==5.2.3
djangorestframework==3.16.0
djangorestframework-simplejwt==5.3.1
django-cors-headers==3.14.0
Pillow
WeasyPrint
PyMuPDF
python-decouple
whitenoise
# waitress  # Removido - não necessário no Render
# pyinstaller  # Removido - consome muita memória e não é necessário
django-extensions
python-dateutil
requests
python-docx
openpyxl
gunicorn
dj-database-url
psycopg2-binary
django-storages
boto3
